body{
  font-family:Arial,Helevetica, sans-serif;
  margin:0;
  background-color: white;
}

.container-left{
  float: left;
}
.container-right{
  float: right;
}

#about-container{
  background-color:#909090;
  height:800px;
}

#brand-header {
  font-size: 1.5em;
  color:orange;
  text-decoration:none;
}

.navbar-collapse {
  flex-grow: unset;
}

@media (min-width: 992px) {
    #brand-header {
     font-size: 2em;
  }

  .navbar #navbarNavDropdown {
    order: 1;
  }

.pitstop {
  font-size: 2em;
  color:orange;
  text-decoration:none;
}

.pitstop:hover {
  font-size: 2em;
  color:orange;
  text-decoration:none;
}

h2{
  font-family: monospace;
}
.text-block{
  float:left;
  text-align:justify;
  height:850px;
  width:550px;
  padding:50px;
  margin: 50px;
  border-radius: 2%;
  color: white;
}
