body{
font-family:Arial,Helevetica, sans-serif;
margin:0;
background-repeat: no-repeat;
background-size: 100%;
}
img {
  border-radius: 50%;
  width: 70%;
}
.flex-fill{
  text-align: center;
}
p{
  text-align:justify;
}

#brand-header {
  font-size: 1.5em;
  color:orange;
  text-decoration:none;
}

.navbar-collapse {
  flex-grow: unset;
}

@media (min-width: 992px) {
    #brand-header {
     font-size: 2em;
  }

  .navbar #navbarNavDropdown {
    order: 1;
  }

.pitstop {
  font-size: 2em;
  color:orange;
  text-decoration:none;
}

.pitstop:hover {
  font-size: 2em;
  color:orange;
  text-decoration:none;
}

h4 {
  text-align: center;
  display: block;
  color: #909090
}

.p{
  font-size: 50 %
}

/* Container holding the image and the text */
.container {
  position: relative;
}

/* Bottom right text
.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
