body{
  font-family:Arial,Helevetica, sans-serif;
  margin:0;
  height:100%;
}



/*Styling the nav bar */

.navbar {
  padding: 1em;
}

.navbar > * {
  order: 1;
}

.navbar #navbarNavDropdown {
  order: 2;
}

h1 {
  display:inline-block;
  color:orange;
  text-align:center;
  margin: auto;
  padding: auto;
}

#brand-header {
  font-size: 1em;
  color:orange;
  text-decoration:none;
}

.navbar-collapse {
  flex-grow: unset;
}

@media (min-width: 992px) {
    #brand-header {
     font-size: 2em;
  }

  .navbar #navbarNavDropdown {
    order: 1;
  }

.pitstop {
  font-size: 2em;
  color:orange;
  text-decoration:none;
}

.pitstop:hover {
  font-size: 2em;
  color:orange;
  text-decoration:none;
}

.center {
  margin: auto;
  width: 100%;
  display: inline-block;
  text-align: center;
}

#carouselExampleIndicators img {
  height:100vh;
  Object-fit:cover;
}

/*
.navbar-right {
  float:right;
}
*/
/**Change colour of link when you hover in navbar*/
.navbar li:hover{
  background-color:#ddd
}

.socialmedia {
	display:inline-block;
  align-items:right;
  padding-right:5px;
}


/* Style all social media font awesome icons */
.fa {
  padding:10px;
  width:35px;
  text-align: center;
  text-decoration: none;
  border-radius: 27%;
}

/* Add a hover effect */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: blue;
  color: white;
}

/*Instagram*/
.fa-instagram {
  background: #f40083;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}




/* .image {
  background-image: url("https://secure.i.telegraph.co.uk/multimedia/archive/03480/jason-hawkes-londo_3480195k.jpg");
  background-repeat: no-repeat;
} */
