body{
font-family:Arial,Helevetica, sans-serif;
margin:0;
background-image: url("../images/coffee1.jpg");
background-repeat: no-repeat;
background-size: 100%;
}
.heading2 {
  text-align:center;
  padding-top:10%;
  line-height:1.4;
  font:inherit;
  color:white;
  font-family:Calibri,Arial,Helevetica, sans-serif;	
}
